# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, and with sane defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.md]
max_line_length = 80
# GitHub-flavored markdown uses two spaces and the end of a line to indicate a linebreak.
trim_trailing_whitespace = false
