/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.phive/ export-ignore
/bin/ export-ignore
/config/ export-ignore
/phpunit.xml export-ignore
/tests/ export-ignore
