includes:
    - phpstan-baseline.neon

parameters:
  parallel:
    # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
    maximumNumberOfProcesses: 5

  phpVersion: 70200

  level: 6

  paths:
    - %currentWorkingDirectory%/bin/
    - %currentWorkingDirectory%/src/
    - %currentWorkingDirectory%/tests/

  type_perfect:
    no_mixed_property: true
    no_mixed_caller: true
    null_over_false: true
    narrow_param: true
    narrow_return: true

  ignoreErrors:
    -
      message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) .* will always evaluate to#'
      path: '../tests/'
