@import "imported.css";
@import "colortest.css" screen, print;
@import "subdir/sub.css";

body#icomelast{
  color: fuschia;
  padding: 5px;
  background-image: url(http://foobar.com);
}

@import "nope.css";
