.test-1 { content: "\20"; }
.test-2 { content: "\E9"; }
.test-3 { content: "\0020"; }
.test-5 { content: "\6C34" }
.test-6 { content: "\00A5" }
.test-7 { content: '\a' }
.test-8 { content: "\"\22" }
.test-9 { content: "\"\27" }

.test-4 { content: "\1D11E" } /* Beyond the Basic Multilingual Plane */
